---
import Button from '../components/Button.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Icon from '../components/Icon.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Ashwin R" description="About Ashwin R - CV">
	<div class="stack gap-20">
		<main class="wrapper about">
			<section>
				<h2 class="section-title">Summary</h2>
				<div class="content">
					<p>
						A creative and dedicated visual communicator, I was born on October 10, 2003, in Cumilla, Bhirmondal. I pursuing B.A English Literature in National University of Bangladesh. My journey as a video editor began in College school, and since then, I've honed my skills through numerous freelance projects for both individual clients and corporate entities.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>SSC From Bhiralla S.K High School </p>
				</div>
				<div class="content">
					<p>HSC From The Royal Internation College 2020</p>
				</div>
				<div class="content">
					<p>Present B.A English Literature in Nimsar Junab Ali College </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Video Editing, Graphic Design, Motion Graphics, Wordpress, Generative AI</p>
				</div>
			</section>
			<section>
				<h3 class="section-title">Reason for career switches</h3>
				<p>Over the past three years, I have intentionally sought out diverse opportunities across different companies to explore and experiment with my abilities in various creative streams. This journey has allowed me to gain a well-rounded perspective and invaluable experiences in multiple facets of the industry. Through this process, I have discovered a deep passion for video editing and creative direction, solidifying my decision to pursue these roles professionally. Additionally, I have recognized my love for Quran </p>
				<br>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<p>Naimur Academy (Content Creator & Video Editor) - 2024</p>
					<p>Assistant English Teacher (Bhirmondal Girls High School) - 2023</p>
					<!-- <p>Film Shades Creation (Assistant Director & Art Designer) - 2022</p> -->
				</div>
			</section>
		</main>

		<div class="know-more-section">
			<Button href="/bento" variant="primary">
				Know More About Me
				<Icon icon="arrow-right" size="1.2em" />
			</Button>
		</div>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.know-more-section {
		display: flex;
		justify-content: center;
		padding: 2rem 0;
		background: var(--gray-999_40);
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>