---
import ContactCTA from '../components/ContactCTA.astro';
import ReelsGrid from '../components/ReelsGrid.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const reels = [
   {
    title: "Benefits of Digital Marketing",
    url: "https://www.youtube.com/shorts/LiTSZEULLcA",
    thumbnail: "/assets/naimur-digital-marketing-reels.png"
  },
  {
    title: "চ্যাট জিপিটি দিয়ে কি কি করা যায়",
    url: "https://www.youtube.com/shorts/Omn40pF-nQg",
    thumbnail: "/assets/stock-4.jpg"
  },
  {
    title: "গভীর ঘুম",
    url: "https://www.youtube.com/shorts/ENAPLwB8pK0",
    thumbnail: "/assets/stock-3.jpg"
  },
  {
    title: "Benefits of Digital Marketing",
    url: "https://www.youtube.com/shorts/LiTSZEULLcA",
    thumbnail: "/assets/naimur-digital-marketing-reels.png"
  },
];
---

<BaseLayout title="Reels | Naimur R" description="Check out my video editing reels">
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <h1>Featured Reels</h1>
      <ReelsGrid reels={reels} />
    </main>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  h1 {
    font-size: var(--text-4xl);
    color: var(--gray-0);
  }
</style>