---
import ContactCTA from '../components/ContactCTA.astro';
import ReelsGrid from '../components/ReelsGrid.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const reels = [
  {
        title: "Doctor Towels - Public Interview",
    url: "https://youtube.com/shorts/idJmucSItKc",
    thumbnail: "/assets/stock-2.jpg"
  },
  {
    title: "Doctor Towels - Public Interview 2",
    url: "https://youtube.com/shorts/bu_01s9m-kE",
    thumbnail: "/assets/stock-4.jpg"
  },
  {
    title: "Fat Grafting - Explanatory Video",
    url: "https://www.youtube.com/shorts/CLG5ZkDN2nQ",
    thumbnail: "/assets/stock-3.jpg"
  },
  {
    title: "Leo Insider - Shorters",
    url: "https://www.youtube.com/shorts/YoSOgzHZrbI",
    thumbnail: "/assets/stock-1.jpg"
  },
  {
    title: "Acne - Explanatory",
    url: "https://www.youtube.com/shorts/4O4kfq_jwtg",
    thumbnail: "/assets/stock-2.jpg"
  },
  {
    title: "Breast Implant - Silicone Explanatory",
    url: "https://www.youtube.com/shorts/IrTsmQeFXdQ",
    thumbnail: "/assets/stock-4.jpg"
  },
  {
    title: "SRK Memories",
    url: "https://www.youtube.com/shorts/-8p9M6cCaCA",
    thumbnail: "/assets/stock-3.jpg"
  },
  {
    title: "Alia Bhatt & Nayanthara",
    url: "https://www.youtube.com/shorts/QA9PY0Hoppo",
    thumbnail: "/assets/stock-1.jpg"
  }
];
---

<BaseLayout title="Reels | Naimur R" description="Check out my video editing reels">
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <h1>Featured Reels</h1>
      <ReelsGrid reels={reels} />
    </main>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  h1 {
    font-size: var(--text-4xl);
    color: var(--gray-0);
  }
</style>